<% layout('layouts/boilerplate')%>
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h1 class="text-center mb-3"><i class="fa fa-id-badge" aria-hidden="true"></i>Login</h1>
                <form action="/users/login" method="POST" class="validated-form" novalidate>
                    <div class="col-md-12">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username"
                            placeholder="Enter Username" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter Password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success mt-3 btn-block" type="submit">Login</button>
                    </div>
                </form>
                <p class="lead mt-4">
                    No Account? <a href="/users/register">Register</a>
                </p>
                <div class="lead">
                    <a href="/">Home</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        (function () {
            'use strict'

            const forms = document.querySelectorAll('.validated-form')

            // Loop over them and prevent submission
            Array.from(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>